# --- CORE FRAMEWORK ---
streamlit
pandas
numpy<2.0.0
requests
python-dotenv
tqdm

# --- DATABASE & AUTH ---
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# --- VISUALIZATION ---
plotly
openpyxl
matplotlib>=3.7.0
seaborn>=0.12.2
wordcloud

# --- NLP & AI (Lightweight) ---
# Dùng các thư viện này thay cho Transformers/Torch để tránh sập RAM
textblob
vaderSentiment
scikit-learn>=1.3.0
google-generativeai>=0.8.3

# --- SCRAPING ---
beautifulsoup4

praw
feedparser
# --- Advanced NLP & Forecasting ---
prophet
keybert
sentence-transformers


spacy>=3.7.0
blis>=1.0.0
thinc>=8.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl